/* css for google font */
body {
        font-family: "Kanit", sans-serif;
        font-weight: 400 600 700 800;
        font-style: normal;
      }

/* css for header */

header{
    
    padding:25px 240px;
    background-color: rgba(255,144,14,0.10);


    
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display:flex;
    align-items: center;
         
}

nav ul>li{
    margin-right: 30px;
    list-style-type: none;
       
}

nav ul>li a{
    text-decoration: none;
    color:#424242;
    font-size: 1em;
    font-weight: 500;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* css for banner */

.btn-primary{
    padding: 15px 40px;
    background-color: #faa803;
    color:aliceblue;
    font-size: 1em;
    font-weight: 600;
    border:0;
    border-radius: 6px;
}

.banner-content{
    max-width:800px;
    text-align: center;
    margin: 20px auto;

}

.banner-img{
    width:100%;
   
}


/* css for responsive */
/* mobile */
@media  screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }
    
    
}
   
/* tablet */

@media screen and (min-width:576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}