/* css for google font */
body {
        font-family: "Kanit", sans-serif;
        font-weight: 400 600 700 800;
        font-style: normal;
      }

/* css for header */

header{
    
    padding:25px 240px;
    background-color: rgba(255,144,14,0.10);


    
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display:flex;
    align-items: center;
         
}

nav ul>li{
    margin-right: 30px;
    list-style-type: none;
       
}

nav ul>li a{
    text-decoration: none;
    color:#424242;
    font-size: 1em;
    font-weight: 500;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* css for banner */

.btn-primary{
    padding: 15px 40px;
    background-color: #faa803;
    color:aliceblue;
    font-size: 1em;
    font-weight: 600;
    border:0;
    border-radius: 6px;
}

.banner-content{
    max-width:800px;
    text-align: center;
    margin: 20px auto;

}

.banner-img{
    width:100%;
   
}

/* css for features section IN MAIN */

main{
    max-width: 1180px;
    margin:70px auto;
}

.features-container{
    display: flex;
    align-items: center;
    
}

.features-imgs-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
    
}
.features-content{
    padding: 0 70px;
   
}

.features-color{
    color: #faa803;
    font-weight: 700;
}

/* css for some facts :section1 */

.facts-card-container{
    display:flex;
    justify-content: space-around;
}
.cards{
    border:1px solid #FF900E;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
}

.facts-description{
    
    margin-top:5px;
}
.facts-stats{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* css for sponsors section */
.sponsors-container{
    text-align: center;
    margin: 20px;

}

.sponsors-icons-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;

}

.sponsors-icons-container img{
    width:170px;
  
}

/* css for responsive */

/* mobile */
@media  screen and (max-width:576px) {
    /* for header responsive */
    header{
        padding: 20px;
    }

    nav,
    .features-container,
    .facts-card-container,
    .sponsors-icons-container
    {
        flex-direction: column;
    }

    /* for features section  responsive*/
    .features-imgs-container{
        grid-template-columns: 1fr;
    }

    .features-content{
        padding: 0 70px;
       
    }

    /*  for fact section1 responsive */
    .facts-card-container{
        gap:20px;
    }
    
    
}
   
/* tablet */

@media screen and (min-width:576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav,
    .features-container,
    .sponsors-icons-container
    {
        flex-direction: column;
    }
}